.form-container {
    width: 500px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.form-title{
    text-align: center;
}

.input-group label {
    display: block;
    padding-left: 10px;
}

.input-group input {
    width: 415px;
    height: 55px;
    font-size: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(238, 224, 224);
    border-radius: 5px;
    cursor: pointer;
}
.input-group .form-submit{
    background-color: #ffe0b3;
}
.form-newaccount{
    text-align: center;
}
.form-link{
    text-decoration: none;
    font-size: 20px;

}
.line-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.first-line{
    width: 145px;
    height: 2px;
    background-color: #d2d7da;
}
.second-line{
    width: 145px;
    height: 2px;
    background-color: rgb(200, 205, 207);
}
.line-text{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
.form-button{
    text-align: center;
}
.form-button button{
   padding: 10px;
   color: goldenrod;
   text-transform: uppercase;
   font-size: 20px;
   cursor: pointer;
   border:1px solid gold;
   border-radius: 5px;
}
    


